:root {
  --darkwhite: #e6eaf3;
  --lightblue: #45deeb;
  --turkis: #038b71;
  --lightbrown: #bd9563;
  --darkbrown: #723934;
}

.App {
  text-align: center;
  height: 100vh;
}

.GridContainer {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 6fr;
  grid-column-gap: 15px;
  grid-row-gap: 0px;
}

.zettel,
.rezepte {
  background-color: var(--darkwhite);
  text-align: center;
}

.cookieName {
  width: 50%;
  padding: 0.5em;
  margin: 1em auto;
  background-color: var(--lightbrown);
  border-radius: 10px;
  cursor: pointer;
}
